@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&display=swap');
body{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  margin:0;
  color: #074B63;
}
a {
  text-decoration: none;
}
a:visited{
  color: #074B63
}
.addNav{
  display: flex;
}
nav{
  color:#074B63;
  display: grid;
  grid-template-columns: 50% 50%;
}
.homepage{
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
}
.add{
  font-size: 1.5rem;
  padding-left: 3%;
  align-self: center;
}
.addCircle{
  display: grid;
  background-color: #2DCC71;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  margin:none;
  padding: 1%;
}
.addCircle:visited {
  color: white
}
.addCircle:link{
  color: white;
}
.addCircle:active{
  color: white;
}
.nav-head{
  display: grid;
  grid-template-columns: 40% 60%;
}
.logo {
  background-image: url(./image/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}
.logo-letters{
  font-size: 2rem;
}
#month{
  font-size: 3.5rem;
  width: 100%;
}
#calendar{
  display: grid;
  grid-template-columns: .14fr .14fr .14fr .14fr .14fr .14fr .14fr;
  height: 65%;
}
#list{
  background: linear-gradient(#97FFE6, #2DCC71);
  height: 100vh;
  font-weight: 200;
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 50s;
}
.left-homepage{
  padding:10%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dayLetter{
  font-size: 3rem;
  line-height: .5rem;
}

/* .L0{
  color: #FAC52F
} */
.number{
  display: flex;
}
/* .circle5{
  background-color: #FAC52F;
  margin-left: 5px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
} */
.color{
  background-color: #FAC52F;
  margin-left: 5px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.list-header{
  display: flex;
  /* align-content: center; */
}
#listCheck {
  cursor: pointer;
  align-self: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 400px;
  background-color: #036054;
  height: 50px;
  margin-left: 1%;
  border-radius: 40px;
  transition: 1s;
}
#listCheck:hover {
  background-color: #19af5a;
}

.form{
  background:linear-gradient(#97FFE6, #2DCC71);
  padding: 5%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 5%;
  font-size: 1.5rem;
}
.form-event{
  display: grid;
  /* grid-gap: 1%; */
  /* flex-direction: column; */
  padding: 2px;
}

input, select{
  font-size: 1.5rem;
  margin: 6px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(35, 128, 100, 0.2) 0px 7px 29px 0px;
}
input:focus, select:focus, textarea:focus{
  outline: none
}
.remind{
  font-size: 2rem;
}
.remindDiv{
  display: grid;
  grid-template-columns: 15% 90%;
}
.addEvent{
  line-height: 1rem;
  font-size: 2.2rem;
  text-align: center;
}

.submitBtnStyle{
  cursor: pointer;
  align-self: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 400px;
  background-color: #036054;
  height: 50px;
  border-radius: 40px;
  transition: 1s;
}
.submitBtnStyle:hover {
  background-color: #107a6c;
}

.left-homepage-add{
  height: 100vh;
  padding:10%;
  padding-top: 0%;
  padding-bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addNavClass{
  width: 50%;
}